<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

<div class="container">
  <div class="col-md-12 col-12 col-sm-12">
    <div class="card">
     
    
      <div class="card-header d-flex justify-content-between align-items-center">
        <span>
          <div style=" display: inline-flex; align-items: center;">
          <svg style=" margin-right: 10px" width="34" height="25" xmlns="http://www.w3.org/2000/svg">
            <g fill-rule="nonzero" fill="#333840">
              <path d="M29.418 2.083c1.16 0 2.101.933 2.101 2.084v16.666c0 1.15-.94 2.084-2.1 2.084H4.202A2.092 2.092 0 0 1 2.1 20.833V4.167c0-1.15.941-2.084 2.102-2.084h25.215ZM4.203 0C1.882 0 0 1.865 0 4.167v16.666C0 23.135 1.882 25 4.203 25h25.215c2.321 0 4.203-1.865 4.203-4.167V4.167C33.62 1.865 31.739 0 29.418 0H4.203Z"></path>
              <path d="M4.203 7.292c0-.576.47-1.042 1.05-1.042h4.203c.58 0 1.05.466 1.05 1.042v2.083c0 .575-.47 1.042-1.05 1.042H5.253c-.58 0-1.05-.467-1.05-1.042V7.292Zm0 6.25c0-.576.47-1.042 1.05-1.042H15.76c.58 0 1.05.466 1.05 1.042 0 .575-.47 1.041-1.05 1.041H5.253c-.58 0-1.05-.466-1.05-1.041Zm0 4.166c0-.575.47-1.041 1.05-1.041h2.102c.58 0 1.05.466 1.05 1.041 0 .576-.47 1.042-1.05 1.042H5.253c-.58 0-1.05-.466-1.05-1.042Zm6.303 0c0-.575.47-1.041 1.051-1.041h2.101c.58 0 1.051.466 1.051 1.041 0 .576-.47 1.042-1.05 1.042h-2.102c-.58 0-1.05-.466-1.05-1.042Zm6.304 0c0-.575.47-1.041 1.051-1.041h2.101c.58 0 1.05.466 1.05 1.041 0 .576-.47 1.042-1.05 1.042h-2.101c-.58 0-1.05-.466-1.05-1.042Zm6.304 0c0-.575.47-1.041 1.05-1.041h2.102c.58 0 1.05.466 1.05 1.041 0 .576-.47 1.042-1.05 1.042h-2.101c-.58 0-1.05-.466-1.05-1.042Z"></path>
            </g>
            
          </svg>
          <h4>Task Details</h4>
        </div>
        </span>
        <button (click)="myLargeModalLabel.show()" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addTaskModal">
          <i class="fas fa-plus"></i> Add New
        </button>
       
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="text-center">
                  <div class="custom-checkbox custom-checkbox-table custom-control">
                    <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad" class="custom-control-input" id="checkbox-all">
                    <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
                  </div>
                </th>
                <th>Task</th>
                <th>Description</th>
                <th>Progress</th>
                <th>Status</th>
                <th>Due Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of data">
                <td class="p-0 text-center">
                  <div class="custom-checkbox custom-control">
                    <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">
                    <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
                  </div>
                </td>
                <td>{{data?.name}}</td>
                <td>{{data?.description}}</td>
                <td class="align-middle">
                  <div class="progress" data-height="4" data-toggle="tooltip" title="" data-original-title="100%" style="height: 4px;">
                    <div class="progress-bar bg-purple" [style.width.%]="data.progress"  style="width: 100px;">
                    </div>
                  </div>
                </td>
                <td>{{data?.status}}</td>
                <td>{{data?.date | date}}</td>
                <td>
                  <a routerLink="/tasks/edittask/{{data.id}}" class="btn btn-outline-primary btn-sm mr-1" data-toggle="tooltip" title="Edit">
                    <i class="fas fa-pencil-alt"></i>
                  </a>
                  <button (click)="remove(data.id)" type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#deleteTaskModal" data-confirm="Are You Sure?|This action can not be undone. Do you want to continue?" data-confirm-yes="alert('Deleted')" title="Delete">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <button (click)="goBack()" type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#deleteTaskModal" data-confirm="Are You Sure?|This action can not be undone. Do you want to continue?" data-confirm-yes="alert('Deleted')" title="Delete">
            go back
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<app-ui-modal #myLargeModalLabel id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
  <div class="app-modal-header">
    <h5 class="modal-title">Add a new Project, type in the details:</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="myLargeModalLabel.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="app-modal-body">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Task details</h5>
      <form #addForm="ngForm" (ngSubmit)="onAddPromotion(addForm)">
        <div class="form-group" >
          <label for="name">Task Name</label>
          <input type="text" ngModel  name="name" class="form-control" id="name" placeholder="Enter task name" required>
        </div>
        
        <div class="form-group">
          <label for="description">Task description</label>
          <textarea ngModel  name="description" class="form-control" id="description" rows="3" placeholder="Enter task description" required></textarea>
        </div>
        <div class="form-group">
          <label for="date">Date</label>
          <input type="date" ngModel name="date" class="form-control" id="date" required>
        </div>
         <div class="form-group">
          <label for="time">Time</label>
          <input type="time" ngModel name="time" class="form-control" id="time" required>
        </div>
       <div class="form-group">
          <label for="duration">Duration</label>
          <input type="text" ngModel  name="duration" class="form-control" id="duration" placeholder="e.g. 1h 30m" required>
        </div> 
       <div class="form-group">
          <label for="progress">Task Progress</label>
          <input type="text" ngModel  name="progress" class="form-control" id="progress" placeholder="e.g. 50%" required>
        </div>
       <div class="form-group">
          <label for="priority">Task Priority</label>
          <input type="text" ngModel  name="priority" class="form-control" id="priority" placeholder="e.g. high" required>
        </div> 
        <div class="form-group">
          <label for="status">Task Status</label>
          <input type="text" ngModel  name="status" class="form-control" id="status" placeholder="e.g. Ongoing" required>
        </div> 
  
         
          <div class="app-modal-footer">
             <button type="button" id="add-employee-form" class="btn btn-secondary" (click)="myLargeModalLabel.hide()" data-dismiss="modal">Close</button>
             <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
          </div>
          </form>
        </div>
      </div>
  </div>
 
</app-ui-modal>

<!-- <app-ui-modal #myLargeModalLabel id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
  <div class="app-modal-header">
    <h5 class="modal-title">Add a new task</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="myLargeModalLabel.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="app-modal-body">
    
      
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Task details</h5>
              <form #addForm="ngForm" >
                <div class="form-group">
                  <label for="name">Task Name</label>
                  <input type="text" ngModel class="form-control" id="name" placeholder="Enter task name" required>
                </div>
                
                <div class="form-group">
                  <label for="description">Task description</label>
                  <textarea ngModel class="form-control" id="description" rows="3" placeholder="Enter task description" required></textarea>
                </div>
                <div class="form-group">
                  <label for="date">Date</label>
                  <input type="date" ngModel class="form-control" id="date" required>
                </div>
                <div class="form-group">
                  <label for="time">Time</label>
                  <input type="time" ngModel class="form-control" id="time" required>
                </div>
                <div class="form-group">
                  <label for="duration">Duration</label>
                  <input type="text" ngModel class="form-control" id="duration" placeholder="e.g. 1h 30m" required>
                </div>
                <div class="form-group">
                  <label for="progress">Task Progress</label>
                  <input type="text" ngModel class="form-control" id="progress" placeholder="e.g. 50%" required>
                </div>
                <div class="form-group">
                  <label for="progress">Task Priority</label>
                  <input type="text" ngModel class="form-control" id="priority" placeholder="e.g. high" required>
                </div>
                <div class="form-group">
                  <label for="status">Task Status</label>
                  <input type="text" ngModel class="form-control" id="status" placeholder="e.g. Ongoing" required>
                </div>
                 <div class="form-group">
                  <label for="priority">Priority</label>
                  <select class="custom-select" id="priority" required>
                    <option value="">Select priority</option>
                    <option value="low">Low</option>
                    <option value="medium">Medium</option>
                    <option value="high">High</option>
                  </select>
                </div> 
                <div class="app-modal-footer">
                  <button type="button" id="add-employee-form" class="btn btn-secondary" (click)="myLargeModalLabel.hide()" data-dismiss="modal">Close</button>
                  <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
               </div>
              
              </form>
            </div>
          </div>
        
    
    
  </div>
 
</app-ui-modal> -->