<section id="sectionJobList" class="section section-job-list gradient-light--lean-left">
    <div class="container">

      <div class="row row-grid justify-content-center">

     

        <div class="col-md-10">

          <form class="filter-form mt-5 mb-4">
            <div class="row">

              <div class="col-md-4 mb-3">
                <div class="form-group">
                  <label for="jobPosition">Department :</label>
                  <select id="jobPosition" class="custom-select">
                    <option value="position1">Design</option>
                    <option value="position2">Testing</option>
                    <option value="position3">Development Frontend</option>
                    <option value="position4">Development Backend</option>
                    <option value="position5">Conception</option>
                  </select>
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <div class="form-group">
                  <label for="jobType">Priority :</label>
                  <select id="jobType" class="custom-select">
                    <option value="type1">High</option>
                    <option value="type3">Medium</option>
                    <option value="type4">Low</option>
                  </select>
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <div class="form-group">
                  <label for="jobLocation">Phase : </label>
                  <select id="jobLocation" class="custom-select">
                    <option value="location1">Identification</option>
                    <option value="location3">Evaluation</option>
                    <option value="location2">Treatement</option>
                    <option value="location4">Monitoring</option>
                    <option value="location5">Release</option>
                  </select>
                </div>
              </div>

            </div>
          </form>

          <div  class="job-list__wrapper mb-6">
            <h3  class="mb-4">Development Frontend</h3>

            <a *ngFor="let front of fronts"  class="card p-0 mb-3 border-0 shadow-sm shadow--on-hover">
              <div  class="card-body">
                <span class="row justify-content-between align-items-center">
                  <span class="col-md-5 color--heading">
                    <span class="badge badge-circle background--danger text-white mr-3">FN</span> {{front?.name}}
                  </span>

                  <span class="col-5 col-md-3 my-3 my-sm-0 color--text">
                    <i class="fas fa-clock mr-1"></i> {{front?.priority}}
                  </span>

                  <span class="col-7 col-md-3 my-3 my-sm-0 color--text">
                    <i class="fas fa-map-marker-alt mr-1"></i> {{front?.phase}}
                  </span>
                  <a routerLink="/risks/details/{{front.id}}" > 
                  <span class="d-none d-md-block col-1 text-center color--text">
                    <small><i class="fas fa-chevron-right"></i></small>
                  </span>
                </a>
                </span>
              </div>
            </a> <!-- Job Card -->
          </div>
            <div class="job-list__wrapper mb-6">

            <h3 class="mb-4">Development Backend</h3>
            <a *ngFor="let back of backs" class="card p-0 mb-3 border-0 shadow-sm shadow--on-hover">
              <div class="card-body">
                <span class="row justify-content-between align-items-center">
                  <span class="col-md-5 color--heading">
                    <span class="badge badge-circle background--warning text-white mr-3">BK</span> {{back?.name}} 
                  </span>

                  <span class="col-5 col-md-3 my-3 my-sm-0 color--text">
                    <i class="fas fa-clock mr-1"></i>{{back?.priority}}
                  </span>

                  <span class="col-7 col-md-3 my-3 my-sm-0 color--text">
                    <i class="fas fa-map-marker-alt mr-1"></i> {{back?.phase}}
                  </span>

                  <span class="d-none d-md-block col-1 text-center color--text">
                    <small><i class="fas fa-chevron-right"></i></small>
                  </span>
                </span>
              </div>
            </a> <!-- Job Card -->
          </div>

          <div class="job-list__wrapper mb-6">
            <h3 class="mb-4">Testing</h3>

            <a *ngFor="let test of tests" href="career-single.html" class="card p-0 mb-3 border-0 shadow-sm shadow--on-hover">
              <div class="card-body">
                <span class="row justify-content-between align-items-center">
                  <span class="col-md-5 color--heading">
                    <span class="badge badge-circle background--success text-white mr-3">TS</span> {{test?.name}}
                  </span>

                  <span class="col-5 col-md-3 my-3 my-sm-0 color--text">
                    <i class="fas fa-clock mr-1"></i> {{test?.priority}}
                  </span>

                  <span class="col-7 col-md-3 my-3 my-sm-0 color--text">
                    <i class="fas fa-map-marker-alt mr-1"></i> {{test?.phase}}
                  </span>

                  <span class="d-none d-md-block col-1 text-center color--text">
                    <small><i class="fas fa-chevron-right"></i></small>
                  </span>
                </span>
              </div>
            </a> <!-- Job Card -->
          </div>
            <!-- <a href="career-single.html" class="card p-0 mb-3 border-0 shadow-sm shadow--on-hover">
              <div class="card-body">
                <span class="row justify-content-between align-items-center">
                  <span class="col-md-5 color--heading">
                    <span class="badge badge-circle background--warning2 text-white mr-3">MD</span> Mobile Developer
                  </span>

                  <span class="col-5 col-md-3 my-3 my-sm-0 color--text">
                    <i class="fas fa-clock mr-1"></i> Full-time
                  </span>

                  <span class="col-7 col-md-3 my-3 my-sm-0 color--text">
                    <i class="fas fa-map-marker-alt mr-1"></i> San Fransisco, US
                  </span>

                  <span class="d-none d-md-block col-1 text-center color--text">
                    <small><i class="fas fa-chevron-right"></i></small>
                  </span>
                </span>
              </div>
            </a> Job Card -->
            <div class="job-list__wrapper mb-6">
              <h3 class="mb-4">Design</h3>
            <a *ngFor="let de of des" class="card p-0 mb-3 border-0 shadow-sm shadow--on-hover">
              <div class="card-body">
                <span class="row justify-content-between align-items-center">
                  <span class="col-md-5 color--heading">
                    <span class="badge badge-circle background--info text-white mr-3">DS</span> {{de?.name}}
                  </span>

                  <span class="col-5 col-md-3 my-3 my-sm-0 color--text">
                    <i class="fas fa-clock mr-1"></i>{{de?.priority}}
                  </span>

                  <span class="col-7 col-md-3 my-3 my-sm-0 color--text">
                    <i class="fas fa-map-marker-alt mr-1"></i> {{de?.phase}}
                  </span>

                  <span class="d-none d-md-block col-1 text-center color--text">
                    <small><i class="fas fa-chevron-right"></i></small>
                  </span>
                </span>
              </div>
            </a> <!-- Job Card -->
            </div>
            
            <div class="job-list__wrapper mb-6">
              <h3 class="mb-4">Conception</h3>
            <a *ngFor="let con of cons" class="card p-0 mb-3 border-0 shadow-sm shadow--on-hover">
              <div class="card-body">
                <span class="row justify-content-between align-items-center">
                  <span class="col-md-5 color--heading">
                    <span class="badge badge-circle background--tertiary text-white mr-3">CN</span> {{con?.name}}
                  </span>

                  <span class="col-5 col-md-3 my-3 my-sm-0 color--text">
                    <i class="fas fa-clock mr-1"></i>{{con?.priority}}
                  </span>

                  <span class="col-7 col-md-3 my-3 my-sm-0 color--text">
                    <i class="fas fa-map-marker-alt mr-1"></i> {{con?.phase}}
                  </span>

                  <span class="d-none d-md-block col-1 text-center color--text">
                    <small><i class="fas fa-chevron-right"></i></small>
                  </span>
                </span>
              </div>
            </a> <!-- Job Card -->
          </div>
        </div>

      </div>
    </div>
  </section>