<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Limestone</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0" >
            <!-- Navigation-->
            <div style="background-color:#212529" >
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
                <div class="container px-5">
                    <a class="navbar-brand" href="index.html">Limestone</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" [routerLink]="['/home']">Home</a></li>
                            <li class="nav-item"><a class="nav-link" [routerLink]="['/about']">About</a></li>
                            <li class="nav-item"><a class="nav-link" [routerLink]="['/authentification']">Login</a></li>
                            <li class="nav-item"><a class="nav-link" [routerLink]="['/signup']">Sign up</a></li>
                            
                        </ul>
                    </div>
                </div>
            </nav>
            
        </div>
            <!-- About section-->
            <div style="background-color:#ffffff" >
            <section class="py-5" id="features">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">About Limestione</h2></div>
                        <div class="col-lg-8">
                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                                <p class="lead fw-normal text-black -50 mb-4">Limestone is a project management tool that provides multiple
                                    functionalities to help guarantee a safer path for your project'
                                    
                                    s workflow
                                    
                                    with:
                                    
                                    A topics management system where you can easily divide tasks and plan
                                    meetings according to precise topics to avoid wasting time and ressources
                                    
                                    Time-tracking for each task and mission for more accurate data and better
                                    future prediction.
                                    
                                    Document and outcomes management to save and arrange data to help
                                    organize work , increase efficiency and thus, assure well-defined, clear and
                                    achievable goals</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        
        <div style="background-color:#2e68dd" >
            <section class="py-5" id="features">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div style="color:#ffffff" class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">About Capegimini</h2></div>
                        <div class="col-lg-8">
                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                               
                               
                                <p style="color:#ffffff" class="lead fw-normal -50 mb-4">Limestone is a project management tool that provides multiple
                                    functionalities to help guarantee a safer path for your project'
                                    
                                    s workflow
                                    
                                    with:
                                    
                                    A topics management system where you can easily divide tasks and plan
                                    meetings according to precise topics to avoid wasting time and ressources
                                    
                                    Time-tracking for each task and mission for more accurate data and better
                                    future prediction.
                                    
                                    Document and outcomes management to save and arrange data to help
                                    organize work , increase efficiency and thus, assure well-defined, clear and
                                    achievable goals</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
            
           
        
        </main>
        <!-- Footer-->
        <div style="background-color:#212529" >
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Capegimini 2022</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
