<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
    <div class="row">
        
        <div class="col-xl-3 col-md-6">
            <div class="card bg-pattern">
                <div class="card-body">
                    <div class="float-right">
                        <i class="fa fa-archive text-primary h4 ml-3"></i>
                    </div>
                    <h5 class="font-size-20 mt-0 pt-1">{{nbProjects.id_count}}</h5>
                    <p class="text-muted mb-0">Total Projects</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-pattern">
                <div class="card-body">
                    <div class="float-right">
                        <i class="fa fa-th text-primary h4 ml-3"></i>
                    </div>
                    <h5 class="font-size-20 mt-0 pt-1">0</h5>
                    <p class="text-muted mb-0">Completed Projects</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-pattern">
                <div class="card-body">
                    <div class="float-right">
                        <i class="fa fa-file text-primary h4 ml-3"></i>
                    </div>
                    <h5 class="font-size-20 mt-0 pt-1">2</h5>
                    <p class="text-muted mb-0">Pending Projects</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group mb-0">
                           <div class="input-group mb-0">
                                <input (ngModelChange)="search(key.value)"  type="search" #key="ngModel" ngModel
                                name="key" id="searchName" type="text" class="form-control" placeholder="Search..." aria-describedby="project-search-addon"  required >
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                   <a (click)="myLargeModalLabel.show()"><i class="fa fa-fw fa-plus mr-2"></i>Add New Project</a>
                  <hr>
                    <div class="table-responsive project-list">
                        
                        <table class="table project-table table-centered table-nowrap">
                            
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Projects</th>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Client</th>
                                    <th scope="col">Progress</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let project of projects">
                                    <th scope="row">{{project?.id}}</th>
                                    <td>{{project?.name}}</td>
                                    <td>{{project?.date | date}}</td>
                                    <td>
                                        <span class="text-success font-12"><i class="mdi mdi-checkbox-blank-circle mr-1"></i> {{project?.status}}</span>
                                    </td>
                                    <td>
                                        <div class="team">
                                            <a href="javascript: void(0);" class="team-member" data-toggle="tooltip" data-placement="top" title="" data-original-title="Roger Drake">
                                                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="rounded-circle avatar-xs" alt="" />
                                                {{project?.client}}
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="mb-0">Progress<span class="float-right"> : {{project?.progress}}%</span></p>
                                       
                                        <div class="progress mt-2" style="height: 5px;">
                                            <div [style.width.%]="project?.progress" class="progress-bar bg-warning" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        
                                    </td>
                                    <td> 
                                        <div>
                                            <a routerLink="/projects/detailsproject/{{project.id}}" class="text-primary mr-4" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"> <i class="fa fa-file h5 m-0"></i></a>
                                            <a routerLink="/projects/editproject/{{project.id}}" class="text-success mr-4" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"> <i class="fa fa-pencil h5 m-0"></i></a>
                                            <a (click)="remove(project.id)" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Close"> <i class="fa fa-remove h5 m-0"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- end project-list -->

                    <div class="pt-3">
                        <ul class="pagination justify-content-end mb-0">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item "><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>

<app-ui-modal #myLargeModalLabel id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
    <div class="app-modal-header">
      <h5 class="modal-title">Add a new Project, type in the details:</h5>
      <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="myLargeModalLabel.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
      
        <form #addForm="ngForm" (ngSubmit)="onAddPromotion(addForm)">
            <div class="form-group">
               <label for="name">Name</label>
               <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Company Name" required>
            </div>
            <div class="form-group" >
               <label for="description">Description</label>
               <input type="text" ngModel name="description" class="form-control" id="description" placeholder="Your project's description" required>
            </div>
            
            <div class="row">
            <div class="form-group" class="col-8 col-sm-6">
                <label for="phase">phase</label>
                <input type="text" ngModel name="phase" class="form-control" id="phase" placeholder="Test/ Design.." required>
             </div>
             <div class="form-group" class="col-4 col-sm-6">
                <label for="department">Department</label>
                <input type="text" ngModel name="department" class="form-control" id="department" placeholder="Department's name" required>
             </div>
            </div>
             <div class="row">
             <div class="form-group" class="col-8 col-sm-6">
                <label for="client">Client</label>
                <input type="text" ngModel name="client" class="form-control" id="client" placeholder="Client's name" required>
             </div>
             <div class="form-group" class="col-4 col-sm-6">
                <label for="manager">Manager</label>
                <input type="text" ngModel name="manager" class="form-control" id="manager" placeholder="Manager's name" required>
             </div>
             </div>
             <div class="row">
                <div class="form-group" class="col-8 col-sm-6">
                    <label for="status">status</label>
                    <input type="text" ngModel name="status" class="form-control" id="status" placeholder="active/ inactive" required>
                 </div>
             <div class="form-group" class="col-4 col-sm-6">
                <label for="progress">Progress</label>
                <input type="text" ngModel name="progress" class="form-control" id="progress" placeholder="Progress" required>
             </div>
             </div>
             
             <div class="row">
            
             <div class="form-group" class="col-8 col-sm-6">
                <label for="priority">Priority</label>
                <input type="text" ngModel name="priority" class="form-control" id="priority" placeholder="Priority" required>
             </div>
             <div class="form-group" class="col-4 col-sm-6">
                <label for="version">Version</label>
                <input type="text" ngModel name="version" class="form-control" id="version" placeholder="version" required>
             </div>   
             </div><div class="row">
               <div class="form-group" class="col-8 col-sm-6">
                <label for="date">Date of creation</label>
                <input type="date" ngModel name="date" class="form-control" id="date" placeholder="" required>
             </div>   
               <div class="form-group" class="col-4 col-sm-6">
                <label for="deadline">Deadline</label>
                <input type="date" ngModel name="deadline" class="form-control" id="deadline" placeholder="" required>
             </div>
            </div>
           
            <div class="app-modal-footer">
               <button type="button" id="add-employee-form" class="btn btn-secondary" (click)="myLargeModalLabel.hide()" data-dismiss="modal">Close</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
            </form>
    </div>
   
  </app-ui-modal>