<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    .btnx {
      background-color: transparent;
      border: none;
      color: rgb(19, 101, 183);
      padding: 10px 16px;
      font-size: 16px;
      cursor: pointer;
      left: 150px;
    }
    
    /* Darker background on mouse-over */
    .btn:hover {
      background-color: RoyalBlue;
    }
    </style>
</head>

<div class="auth-wrapper" style="background-color:#e3eaef">
  
    <div class="auth-content" style="width: 500px;">
      
        <div class="row align-items-center text-center">
              <div *ngIf="errorMessage">
                <div class="alert alert-danger" role="alert">
                  {{errorMessage}}
                </div>
              </div>

             
              <form (ngSubmit)="onSubmit()" ngNativeValidate>
                <input [(ngModel)]="user.name" name="name"
                
                
                class="form-control"
                
                 id="input-1" type="text" placeholder="John Doe" required autofocus />
                <label for="input-1">
                  <span class="label-text">First Name</span>
                  <span class="nav-dot"></span>
                 
                  <div class="signup-button-trigger">Sign Up</div>
                </label>
                <input [(ngModel)]="user.lastname" name="lastname"
                
                
                class="form-control" id="input-2" type="text" placeholder="john" required />
                
                <label for="input-2">
                  <span class="label-text">Last Name</span>
                  <span class="nav-dot"></span>
                </label>
                <input 
                [(ngModel)]="user.email" name="email"
                class="form-control" id="input-3" type="email" placeholder="email@address.com" required />
                <label for="input-3">
                  <span class="label-text">Email</span>
                  <span class="nav-dot"></span>
                </label>
                <input 
                [(ngModel)]="user.password" name="password"
                class="form-control" id="input-4" type="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" required />
                <label for="input-4">
                  <span class="label-text">Password</span>
                  <span class="nav-dot"></span>
                </label>
                <input  [(ngModel)]="user.number" name="number"
                class="form-control" id="input-5" type="text" placeholder="+216 *** *** *** " required />
                <label for="input-5">
                  <span class="label-text">Phone Number</span>
                  <span class="nav-dot"></span>
                </label>
                <input  [(ngModel)]="user.country" name="country"
                class="form-control" id="input-6" type="text" placeholder="Tunisia" required />
                
                <label for="input-6">
                  <span class="label-text">Country</span>
                  <span class="nav-dot"></span>
                </label>

                <input [(ngModel)]="user.city" name="city"
                class="form-control"  id="input-7" type="text" placeholder="Sousse" required />
                
                <label for="input-7">
                  <span class="label-text">City</span>
                  <span class="nav-dot"></span>
                </label>
                <input [(ngModel)]="user.address" name="address"
                class="form-control"  id="input-8" type="text" placeholder="Elghazela, Technopole" required />
                
                <label for="input-8">
                  <span class="label-text">Address</span>
                  <span class="nav-dot"></span>
                </label>
                <input  [(ngModel)]="user.role" name="role"
                class="form-control"  id="input-9" type="text" placeholder="Admin/user" required />
                
                <label for="input-9">
                  <span class="label-text">Role</span>
                  <span class="nav-dot"></span>
                </label>
                <button type="submit">Create Your Account</button>
                <p class="tip">Press Tab</p>
                <p style="position:absolute"> <b>Hello!</b> This is where you enter your information to create your new account</p>
                <p style="position:fixed; top: 57%;
                left: 50%; " class="mb-2">Already have an account? <a style="color:rgb(19, 101, 183)" [routerLink]="['/authentification']" class="f-w-400">Signin</a>
                or<a [routerLink]="['/home']" class="btnx"><i class="fa fa-home"></i></a>
               
              </p>
                
                <div class="signup-button">Sign Up</div>
              
            <!-- <form (ngSubmit)="onSubmit()" ngNativeValidate>
              <h4 class="mb-3 f-w-400">Sign up</h4>
              <div class="login-or"><hr class="hr-or"></div>
              
              <div class="input-group mb-3">
                <input  [(ngModel)]="user.name" name="name"
                type="name"
                required
                class="form-control"
                id="name"
                placeholder="Username">
              </div>
              <div class="input-group mb-3">
                <input  [(ngModel)]="user.role" name="role"
                type="role"
                required
                class="form-control"
                id="role"
                placeholder="Role">
              </div>
              <div class="input-group mb-3">
                <input  [(ngModel)]="user.email"
                name="email"
                type="email"
                required
                class="form-control"
                id="email"
                placeholder="Email">
              </div>
              <div class="input-group mb-4">
                <input  [(ngModel)]="user.password"
                name="password"
                type="password"
                required
                class="form-control"
                id="password"
                placeholder="enter a password">
              </div>
              <div class="input-group mb-4">
                <input  [(ngModel)]="user.lastname"
                name="lastname"
                type="lastname"
                required
                class="form-control"
                id="lastname"
                placeholder="Your lastname">
              </div> 
              <div class="input-group mb-4">
                <input  [(ngModel)]="user.address"
                name="address"
                type="address"
                required
                class="form-control"
                id="address"
                placeholder="Enter your address">
              </div> 
              <div class="input-group mb-4">
                <input  [(ngModel)]="user.country"
                name="country"
                type="country"
                required
                class="form-control"
                id="country"
                placeholder="Your country">
              </div>
              <div class="input-group mb-4">
                <input  [(ngModel)]="user.city"
                name="city"
                type="city"
                required
                class="form-control"
                id="city"
                placeholder="Your city">
              </div>
              <div class="input-group mb-4">
                <input  [(ngModel)]="user.number"
                name="number"
                type="number"
                required
                class="form-control"
                id="number"
                placeholder="Your number">
              </div>
              <div class="custom-control custom-checkbox text-left mb-4 mt-2">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label for="customCheck1" class="custom-control-label">Send me the <a href="javascript:"> Emails</a> weekly.</label>
              </div> -->
              <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
            </form> 
              
            
          </div>
          
        
  </div>
 

