
 <div class="col-sm-12">
    <app-card [hidHeader]="true" cardClass="tab-card">
        
      <h5 class="mb-3"></h5>
     
  <div class="col-xl-12">
                <h5 class="mt-4"></h5>
                <span>
                    <div style=" display: inline-flex; align-items: center;">
                    <img style=" margin-right: 20px" width="50" height="40" src="https://www.svgrepo.com/show/228346/laptop.svg">
                    
                    <h5>Projects Available</h5>
                  </div>
                </span>
                
                <hr>
                
      
        <div class="row">
            <div *ngFor="let project of projects" class="col-lg-4 col-md-6 mb-4">
              <div class="card card-box project-box">
            <div class="dropdown float-right"><a href="#" class="dropdown-toggle card-drop arrow-none" data-toggle="dropdown" aria-expanded="false"><h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="#">Edit</a> <a class="dropdown-item" href="#">Delete</a> <a class="dropdown-item" href="#">Add Members</a> <a class="dropdown-item" href="#">Add Due Date</a></div>
            </div>
            <p class="text-muted text-uppercase mb-0 font-13">{{project?.department}}</p>
            <h4 class="mt-0 mb-3"><a routerLink="/tasks/addtask/{{project.id}}" class="text-dark">{{project?.name}}</a></h4>
            <p class="text-muted font-13">{{project?.description}}<a href="#" class="font-600 text-muted">view more</a></p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <h3 class="mb-0">5</h3>
                    <p class="text-muted">Topics</p>
                </li>
                <li class="list-inline-item">
                    <h3 class="mb-0">5</h3>
                    <p class="text-muted">Issues</p>
                </li>
                <li class="list-inline-item">
                    <h3 class="mb-0">6</h3>
                    <p class="text-muted">Meetings</p>
                </li>
            </ul>
            <!-- <div class="project-members mb-4">
                <label class="mr-3">Priority :</label>
                <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Mat Helme">{{project?.priority}}</a>
               
            </div> -->
            <div class="project-members mb-4">
                <label class="mr-3"><b>Status: </b></label>
                <!-- <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Mat Helme"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle thumb-sm" alt="friend"> </a> -->
          <a  data-placement="top" title="" >{{project?.status}} <span class="badge m-r-5 badge-light-danger">{{project?.priority}} priority</span></a>

            </div>
            <label class="">Progress completed: <span class="text-custom">{{project?.progress}}%</span></label>
            <!-- <div class="progress mb-1" >
                <div  role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                /.progress-bar .progress-bar-danger
            </div> -->
            <div class="project-progress" style="height: 7px;">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" [style.width.%]="project.progress" style="width: 100px;" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-orange"></div>
                </div>
                
              </div>
        </div>
      </div>
    </div>
      </div>
  
    <!-- end col-->
               














      <!-- old -->
            <!-- <div class="col-xl-12">
                <h5 class="mt-4">Projects Available</h5>
                <hr>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col" *ngFor="let project of projects">
                    <div class="card h-100">
                      <img class="card-img-top" src="assets/images/slider/img-slide-4.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">{{project?.name}}</h5>
                        <p class="card-text">Click below to see tasks related to this project</p>
                      </div>
                      <div class="card-footer">
                        <button routerLink="/tasks/addtask/{{project.id}}" class="button-31 black-button" role="button">View Details</button>

                        <small class="text-muted d-block mt-3">Last updated 2 hours ago</small>
                      </div>
                    </div>
                  </div>
                 
                </div>
              </div>
               -->
      

</app-card>
</div>

