<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card card radius-t-0 h-100">
                <div class="position-tl w-102 border-t-3 brc-primary-tp3 ml-n1px mt-n1px"></div>
                <!-- the blue line on top -->

                <div class="card-header pb-3 brc-secondary-l3">
                    <h5 class="card-title mb-2 mb-md-0 text-dark-m3">
                        Active topics
                    </h5>
                </div>

                   <div class="card-body pt-2 pb-1" *ngFor="let topic of activeTopics" >
                    <div *ngIf="topic.status === 'active'">                    
                        <div  role="button" class="d-flex flex-wrap align-items-center my-2 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 p-25 d-style">
                            <span class="mr-25 w-4 h-4 overflow-hidden text-center border-1 brc-secondary-m2 radius-round shadow-sm d-zoom-2" style="border-radius: 50%;">
                                <img src="https://www.svgrepo.com/show/228351/contract-paper.svg" class="h-4 w-4" />
                              </span>
                              

                        <span class="text-default-d3 text-90 text-600">
                            {{topic.name}}
                        </span>

                        <span class="ml-auto text-dark-l2 text-nowrap">
                            {{topic.date | date}}
                            <span class="text-80">
                                <b>{{topic.privacy}}</b> 
                            </span>
                        </span>

                        <span class="ml-2">
                            <i class="fa fa-arrow-up text-green-m1 text-95"></i>
                        </span>
                    </div>
            </div>
                   </div>
        </div>
       
    </div>
    <div class="col-md-5">
        <div class="card card radius-t-0 h-100">
            <div class="position-tl w-102 border-t-3 brc-primary-tp3 ml-n1px mt-n1px"></div>
            <!-- the blue line on top -->

            <div class="card-header pb-3 brc-secondary-l3">
                <h5 class="card-title mb-2 mb-md-0 text-dark-m3">
                    Inactive topics
                </h5>
            </div>

               <div class="card-body pt-2 pb-1" *ngFor="let topic of inactiveTopics" >
                <div *ngIf="topic.status === 'inactive'">                    
                    <div role="button" class="d-flex flex-wrap align-items-center my-2 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 p-25 d-style">
                        <span class="mr-25 w-4 h-4 overflow-hidden text-center border-1 brc-secondary-m2 radius-round shadow-sm d-zoom-2" style="border-radius: 50%;">
                            <img src="https://www.svgrepo.com/show/228351/contract-paper.svg" class="h-4 w-4" />
                          </span>
                          
                    <span class="text-default-d3 text-90 text-600">
                        {{topic.name}}
                    </span>
                    <span class="ml-auto text-dark-l2 text-nowrap">
                        {{topic.date | date}}
                        <span class="text-80">
                           <b>{{topic.privacy}}</b> 
                        </span>
                    </span>
                    <span class="ml-2">
                        <i class="fa fa-arrow-down text-danger-m1 text-95"></i>
                    </span>
                </div>
        </div>
               </div>
    </div>
   
</div>
</div>