<div class="row justify-content-center">
    <div class="col-md-8">
      <app-card cardTitle="Update topic Information" >
        <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
          <strong> Success! </strong> The topic was updated successfully! 
          <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> 
        <form [formGroup]="form" (ngSubmit)="Update()">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="name">Name</label>
              <input id="name" type="text" class="form-control" formControlName="name" placeholder="Project name" required>
            </div>
            <div class="form-group col-md-6">
              <label for="description">Description</label>
              <textarea id="description" type="text" class="form-control" formControlName="description" placeholder="Project's description" required></textarea>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="status">Status</label>
              <input id="status" type="text" class="form-control" formControlName="status" placeholder="Project's status" required>
            </div>
            
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="date">Date</label>
              <input id="date" type="date" class="form-control" formControlName="date" placeholder="Project date" required>
            </div>
        
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="privacy">privacy</label>
              <input id="privacy" type="text" class="form-control" formControlName="privacy" placeholder="Project privacy" required>
            </div>
          </div>
          <div class="form-row mt-3">
            <div class="col-md-12">
              <button type="submit" class="btn btn-success mr-2">Update Topic</button>
              <button (click)="goBack()" class="btn btn-secondary">Go back</button>
            </div>
          </div>
        </form>
      </app-card>
    </div>
  </div>
  